# fly.toml app configuration file generated for soil-frontend-staging on 2026-01-06T17:49:37-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'brsense-frontend-staging'
primary_region = 'gru'

[build]
# Esta seção conecta o Fly.io aos argumentos do Dockerfile
[build.args]
VITE_API_URL = "https://soilprobe-api-floral-sound-9539.fly.dev"
VITE_KEYCLOAK_URL = "https://brsense-auth.fly.dev"

[http_service]
internal_port = 80
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
memory_mb = 1024
